:root {
  font-size: 16px;
}
main {
  width: 480px;
  margin: 0 auto;
  padding: 30px 30px 50px;
  box-shadow: 0 0 10px 0 rgb(108, 155, 208);
}
input,
select {
  margin: 0.5rem 1rem 0.5rem 0;
}
input[type="number"] {
  width: 30px;
}
button#submit,
button#priority,
button#remove {
  padding: 5px 10px;
  margin-top: 1rem;
  background-color: rgb(113, 207, 184);
  color: white;
  border-style: none;
}
button#priority {
  background-color: rgb(226, 144, 167);
}
button#remove {
  background-color: rgb(131, 160, 215);
}
table {
  margin-top: 2rem;
  border: solid 2px rgb(12, 13, 14);
  border-collapse: collapse;
}
th,
td {
  border: solid 1px rgb(7, 20, 24);
  border-collapse: collapse;
}
th {
  background-color: rgb(144, 203, 242);
  padding: 0 0.5rem 0;
}
th#todoLabel {
  width: 200px;
}
th#dateLabel {
  width: 100px;
}
td {
  text-align: center;
}
td input[type="checkbox"] {
  margin: 0;
}
